DISCORD_TOKEN=
REGION_NAME=Britannia
REGION_MONITOR_ENABLED=true
NOTIFICATION_CHANNEL_ID=1493815461349953616
CHECK_INTERVAL=10
RMB_CHECK_INTERVAL=10
DATABASE_FILE=tealuminati.db
KEEP_ALIVE_ENABLED=true
KEEP_ALIVE_PORT=8080
